.book {
  display: flex;
  flex-direction: column;
}

.bh {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.buttonadd_buttons {
  display: flex;
  justify-content: center;
}
.book_add {
  margin: 10px 20px;
  display: flex;
  justify-content: flex-end;
}
.filter_data {
  width: 10px;
  margin-right: 20px;
  font-size: 35px;
  cursor: pointer;
}

.buttonadd {
  width: 130px;
  height: 35px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  margin-left: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 34, 164);
  color: white;
  cursor: pointer;
}

.searchInput {
  border: 1px solid gray;
  width: 300px;
  border-radius: 7px;
  height: 30px;
  margin-right: 5px;
}

.searchbarButton {
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.bk {
  width: 150px;
}

.ul {
  margin: 0;
}
